<mat-tab-group class="col-12">
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/pythonicon.ico"> Python
        </ng-template>
        <div class="tab_content">
            <h3 class="tab_content_header"> Python Experience:</h3>
        </div>


    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/djangoicon.ico"> Django
        </ng-template>
        <div class="tab_content">
            <h3 class="tab_content_header"> Django Experience:</h3>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/favicon.ico"> Angular 6
        </ng-template>
        <div class="tab_content">
            <h3 class="tab_content_header"> Angular 6 Experience:</h3>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/elasticicon.ico"> ELK
        </ng-template>

        <div class="tab_content">
            <h3 class="tab_content_header"> ELK Experience:</h3>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/ioticon.ico"> IoT
        </ng-template>

        <div class="tab_content">
            <h3 class="tab_content_header"> IoT Experience:</h3>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/cassandraicon.ico"> Cassandra
        </ng-template>

        <div class="tab_content">
            <h3 class="tab_content_header"> Cassandra Experience:</h3>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/postgresicon.ico"> PostgreSQL
        </ng-template>

        <div class="tab_content">
            <h3 class="tab_content_header"> PostgreSQL Experience:</h3>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <img src="/assets/kafkaicon.ico"> Kafka
        </ng-template>

        <div class="tab_content">
            <h3 class="tab_content_header"> Kafka Experience:</h3>
        </div>
    </mat-tab>

</mat-tab-group>