
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <img src="/assets/pythonicon.ico">
      Python
    </ng-template>

    Content 0
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <img src="/assets/djangoicon.ico">
      Django
    </ng-template>
    Content 1
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <img src="/assets/favicon.ico">
      Angular 6
    </ng-template>
    Content 2
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <img src="/assets/elasticicon.ico">
      ELK
    </ng-template>

    Content 3
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <img src="/assets/ioticon.ico">
      IoT
    </ng-template>

    Content 4
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <img src="/assets/cassandraicon.ico">
      Cassandra
    </ng-template>

    Content 5
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <img src="/assets/postgresicon.ico">
      PostgreSQL
    </ng-template>

    Content 6
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <img src="/assets/kafkaicon.ico">
      Kafka
    </ng-template>

    Content 6
  </mat-tab>

</mat-tab-group>

