<!--<video class="video-bg" autoplay="" loop="" muted="">
    <source type="video/mp4" src="https://pixelgrapes.com/pgvideo/developer/bridge-street.mp4">

   <source type="video/webm" src="https://pixelgrapes.com/pgvideo/developer/bridge-street.webm">

   <source type="video/ogv" src="https://pixelgrapes.com/pgvideo/developer/bridge-street.ogv">


</video>-->
<div class="main col-12"   >
	<div class="second_bg col-12">
		<p class="title  col-12">Hello, my name is <span class='coredText'>Martin</span>
			<br>
			 I'm a 
			<span class='coredText'>Software Engineer</span></p>
	</div>
</div>