
<div class="row">
    <mat-toolbar>
        <mat-toolbar-row >
          <button mat-icon-button (click)="sidenav.toggle();SideBarclosed()">

                <mat-icon *ngIf='closed'>menu</mat-icon>
                <mat-icon *ngIf='!closed'>close</mat-icon>
          </button> 
          
          
          
          <span *ngFor="let choice of TBarChoices" class='toolBarChoices' 

          (click)="onSelect(choice)"
          [class.selectedToolbar]="selctedChoice===choice"
          >{{choice}}</span>
          <span style="flex: 1 1 auto;"></span>
          <img class="sm-img" src="https://cdn.pixabay.com/photo/2017/10/25/16/54/african-lion-2888519_960_720.jpg">
        </mat-toolbar-row>
      </mat-toolbar>

    <mat-sidenav-container   >
  
      <mat-sidenav   class="col-3" mode='over'  #sidenav   ><!--opened   use opened if u want it opened as default-->
        
        <img class="md-img" src="https://cdn.pixabay.com/photo/2017/10/25/16/54/african-lion-2888519_960_720.jpg">
        <p class="center">Martin Mamdouh</p>
        <ul>
          <li *ngFor="let content of sideBarContentList"
              (click)="onSideSelect(content.title);sidenav.toggle();SideBarclosed()"
              [class.selected]="content.title===selectedTitle"
              [routerLink]='content.path' >{{content.title}}
               
          </li>
        </ul>
        

        
      </mat-sidenav>
      <mat-sidenav-content   class="col-9"> 
        ddddddsssssssssssssssssssssss
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>

</div>